{% extends "base.html" %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">{% endblock extrastyle %}

{% block content %}

      <div class="row">
        <div class="span12">
          <div id="acm-gallery" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><img src="{{ url_for('static', filename='img/photos/poster1.png') }}" alt="ACM BBQ A-Term 2012"></div>
            <div class="item"><img src="{{ url_for('static', filename='img/photos/poster2.png') }}" alt="Are there any blind people looking at this website?"></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#acm-gallery" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#acm-gallery" data-slide="next">&rsaquo;</a>
          </div>
        </div>
      </div>
  <div class="row">
        <div class="span9">

          <h2>News</h2>
          <div class="news">
            <div class="news-article">
              <div style="height: 333px;">
                <a href="{{ url_for('static', filename='img/events/installfest2012.png') }}">
                  <img align="right" src="{{ url_for('static', filename='img/events/installfest2012small.png') }}">
                </a>
              <div class="news-meta">
                <h3>Linux Installfest!</h3>
                Posted by <span class="news-author"><a href="http://blog.nican.net/">Henrique Polido</a></span>
                on Nov 11, 2012.
              </div>
              <div class="news-content">

                The ACM is hosting a Linux Installfest on November 13, 2012 on the Lobby of Salisbury Labs. Pizza and drinks are provided. Come check out a few users use linux, and try out linux for yourself.
              </div>
            </div>
              <div class="news-meta">
                <h3>ACM Website Under Construction</h3>
                Posted by <span class="news-author"><a href="/members/ianaval/">Ian Naval</a></span>
                on October 11, 2012.
              </div>
              <div class="news-content">
                <p>The ACM website is under construction. Please wait while we rebuild the content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <h2>Meeting Times</h2>
          <strong>D Term</strong>
          <ul>
            <li>Meeting: Wednesdays at 4:00 PM in Fuller Commons</li>
          </ul>
          <h2>Calendar</h2>
          <iframe src="https://www.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&height=300&wkst=1&bgcolor=%23FFFFFF&src=achgl7e3m1pokdo8o1uqis70fk%40group.calendar.google.com&color=%23125A12&ctz=America%2FNew_York" style=" border-width:0 " width="220" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
  <div class="footer">

      </div>

{% endblock %}
