{% extends "base.html" %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/members.css') }}">{% endblock extrastyle %}

{% block content %}
<div class="row">
	<h1>Members</h1>


{% for year in officers %}
<div>
 	<h2>{{ year.year }}</h2>

	{% for member in year.members %}
	<div class="member">
		<img src="{{ url_for('static', filename='img/' + member.photo) }}" width="90" height="120">
		<p class="name">{{ member.name }}</p>
		<p class="position">{{ member.position }}</p>
	</div>
	{% endfor %}

 </div>
 {% endfor %}


</div>
{% endblock %}
