.news .news-article .news-meta {
    font-style: italic; }

    .news .news-article .news-meta h3 {
        font-style: normal;
        margin: 0; }

.news .news-article .news-content {
    margin: 1em 0; }

.main {
    padding-top: 0;}
