<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>WPI ACM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/index.css">
    <!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <img class="logo" src="{{ STATIC_URL }}img/acm_chapter_sym-hires.png" alt="ACM Logo">
          <a class="brand" href="/">WPI ACM</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Members</a></li>
              <li><a href="#">Minutes</a></li>
              <li><a href="#">Library</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <p class="navbar-text pull-right join"><a href="join">Join</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
    {% block content %}{% endblock %}
    </div> <!-- /container -->

    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript">
      window.onload = function() {
        $('.carousel').carousel();
      }
    </script>
  </body>
</html>
