{% extends "core/base.html" %}

{% block content %}

      <div class="row">
        <div class="span12">
          <div id="acm-gallery" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><a href="http://reddit.com/r/aww/"><img src="http://placekitten.com/940/200" alt="temporary cat"></a></div>
            <div class="item"><a href="http://reddit.com/r/aww/"><img src="http://placekitten.com/940/200" alt="temporary cat"></a></div>
            <div class="item"><a href="http://reddit.com/r/aww/"><img src="http://placekitten.com/940/200" alt="temporary cat"></a></div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#acm-gallery" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#acm-gallery" data-slide="next">&rsaquo;</a>
          </div>
        </div>
      </div>
  <div class="row">
        <div class="span9">

          <h2>News</h2>
          <div class="news">
            <div class="news-article">
              <div class="news-meta">
                <h3>ACM Website Under Construction</h3>
                Posted by <span class="news-author"><a href="/members/ianaval/">Ian Naval</a></span>
                on October 11, 2012.
              </div>
              <div class="news-content">
                <p>Fingerling primura fianna stobrawa langlade apline. British queens bamberg cabritas marquis russet norkotah stobrawa. Russet burbank, flava sirco goldrush fingerling bamberg bildtstar bintje. Russet norkotah monalisa clavela blanca spud almond avalanche potato, russet burbank linda atlantic german butterball stobrawa cara. Cielo vitelotte russet burbank fingerling carola red lasoda. Rooster superior potato record belle de fontenay. Spud atlantic red lasoda cielo innovator record.</p>
                <p>British queens pink eye langlade, red lasoda clavela blanca british queens agata kerr's pink. Fingerling up to date norgold russet camota maris piper pike. Cabritas blue congo innovator goldrush, rooster cielo red norland megachip blazer russet. Annabelle yukon gold maris piper jersey royal british queens, clavela blanca french fries blazer russet belle de fontenay kennebec. Ranger russet annabelle spud avalanche shepody, jersey royal kerr's pink red pontiac adirondack blue goldrush kennebec.</p>
              </div>
              <div class="news-meta">
                <h3>ACM Website Under Construction</h3>
                Posted by <span class="news-author"><a href="/members/ianaval/">Ian Naval</a></span>
                on October 11, 2012.
              </div>
              <div class="news-content">
                <p>Fingerling primura fianna stobrawa langlade apline. British queens bamberg cabritas marquis russet norkotah stobrawa. Russet burbank, flava sirco goldrush fingerling bamberg bildtstar bintje. Russet norkotah monalisa clavela blanca spud almond avalanche potato, russet burbank linda atlantic german butterball stobrawa cara. Cielo vitelotte russet burbank fingerling carola red lasoda. Rooster superior potato record belle de fontenay. Spud atlantic red lasoda cielo innovator record.</p>
                <p>British queens pink eye langlade, red lasoda clavela blanca british queens agata kerr's pink. Fingerling up to date norgold russet camota maris piper pike. Cabritas blue congo innovator goldrush, rooster cielo red norland megachip blazer russet. Annabelle yukon gold maris piper jersey royal british queens, clavela blanca french fries blazer russet belle de fontenay kennebec. Ranger russet annabelle spud avalanche shepody, jersey royal kerr's pink red pontiac adirondack blue goldrush kennebec.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="span3">
          <h2>Meeting Times</h2>
          <strong>A Term</strong>
          <ul>
            <li>Mondays at 5:00 PM in Fuller Commons</li>
            <li>Thursday at 7:00 PM in the ACM/GDC Lab (sub-basement of Fuller next to the Zoo Lab.)</li>
          </ul>
          <h2>Calendar</h2>
          <iframe src="https://www.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&height=300&wkst=1&bgcolor=%23FFFFFF&src=achgl7e3m1pokdo8o1uqis70fk%40group.calendar.google.com&color=%23125A12&ctz=America%2FNew_York" style=" border-width:0 " width="220" height="300" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
  <div class="footer">
        
      </div>

{% endblock %}